@use 'reset.scss' as *;
@use './variables/global.scss' as *;
@use './themes/dark.scss' as *;
@use './themes/light.scss' as *;

.app {
    background: var(--color-bg-primary);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    overflow: auto;
    position: relative;

    padding: 20px;
    flex-grow: 1;
}
