@use 'reset.scss' as *;
@use './variables/global.scss' as *;
@use './themes/dark.scss' as *;
@use './themes/light.scss' as *;

.app {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: var(--color-bg-primary);
}

.content-page {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
}

.page-wrapper {
    overflow: auto;
    position: relative;

    padding: 20px;
    flex-grow: 1;
}
