.wrapper {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color-accent);

    z-index: -1;
    opacity: 0;
    visibility: hidden;

    transition: opacity 200ms ease-in;

    .loader {
        visibility: hidden;
        transition: visibility 50ms ease-in;
    }
}

.show {
    opacity: 1;
    z-index: 999;
    visibility: visible;

    .loader {
        visibility: visible;
        transition: visibility 50ms ease-in;
        transition-delay: 1s;
    }
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}
