.form {
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    text-align: center;
}

.errorMessage {
    color: var(--color-text-error);
}

.button {
    margin-top: 8px;
}
