:root {
    // Шрифт
    --font-family-main: -apple-system, blinkmacsystemfont, 'Segoe UI', system-ui,
        roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Размеры
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --border-radius-default: 4px;
    --border-radius-rounded: 40px;
    --input-vertical-padding: 4px;
    --input-horizontal-padding: 8px;
    --label-offset: 4px;

    // Цвета
    --color-article-title: var(--color-text-primary);
    --color-article-subtitle: var(--color-text-secondary);
    --color-article-meta: var(--color-text-muted);
    --color-article-content: var(--color-text-primary);
    --color-article-link: var(--color-primary);
    --color-article-link-hover: var(--color-primary-hover);
    --color-article-blockquote: var(--color-secondary);
    --color-article-code-bg: var(--color-bg-tertiary);
    --color-article-code-border: var(--color-border);
    --color-bg-overlay: rgb(0 0 0 / 30%);
}
