.primary {
    color: var(--color-text-primary);
}

.secondary {
    color: var(--color-text-secondary);
}

.error {
    color: var(--color-text-error);
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}
