.wrapper {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    z-index: 999;

    transition: opacity 200ms ease-in;
}

.loader {
    transition: visibility 50ms ease-in;
    transition-delay: 1s;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.primary {
    background-color: var(--color-primary);

    .loader {
        color: var(--color-bg-primary);
    }
}

.secondary {
    background-color: var(--color-bg-primary);

    .loader {
        color: var(--color-primary);
    }
}

.entering {
    opacity: 1;

    .loader {
        visibility: visible;
    }
}

.entered {
    opacity: 1;

    .loader {
        visibility: visible;
    }
}

.exiting {
    opacity: 0;

    .loader {
        visibility: hidden;
    }
}

.exited {
    opacity: 0;

    .loader {
        visibility: hidden;
    }
}
