.copiable {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: var(--border-radius-default);

    transition: background-color 50ms ease-in-out;
}

.copiable:hover {
    background-color: #e0e6ee75;
}

.monospace {
    font-family: monospace;
}

.primary {
    background-color: #e0e6ee75;
}

.secondary {
    background-color: #e0e6ee25;
}

.error {
    background-color: var(--color-bg-error);
}

.copied {
    background-color: var(--color-bg-success);
}
