.menu {
    background: var(--color-card-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--color-text-primarys);
    cursor: pointer;
}
