.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.card {
    padding: 16px;
    border-radius: var(--border-radius-card);

    background-color: var(--color-bg-accent-blue);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.nameWrapper {
    margin-bottom: 4px;

    display: flex;
    align-items: baseline;
    gap: 4px;
}

.updatePhotoContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.updatePhotoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .updatedPhoto {
        width: 32px;
    }

    .updatePhotoIcon {
        font-size: 64px;
    }
}

.photoWrapper {
    overflow: hidden;
    width: 196px;
    aspect-ratio: 1 / 1;

    flex-shrink: 0;

    border-radius: var(--border-radius-card);
    background-color: var(--color-bg-tertiary);
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
