.app.dark {
    --bg-color: #090949;
    --bg-color-accent: #d2d2e9;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --primary-color-accent: #041c65;
    --secondary-color-accent: #0449e0;
}
