.app.light{
    --bg-color: #d2d2e9;
    --bg-color-accent: #090949;

    --primary-color: #041c65;
    --secondary-color: #0449e0;
    --primary-color-accent: #049604;
    --secondary-color-accent: #04ff04;
}