.navbar {
    width: 100%;
    height: var(--navbar-height);
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    background-color: var(--color-bg-tertiary);
}

.userContainer {
    display: flex;
    align-items: center;
}

.user {
    margin-right: 8px;
}
