.appLink {
    text-decoration: none;
    color: var(--color-text-secondary);

    &:hover {
        color: var(--color-text-active);
    }
}

.active {
    pointer-events: none;
    color: var(--color-text-primary);
}
